<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/css/albums.css" />
    <link rel="stylesheet" href="/css/songs.css" />
    <link rel="stylesheet" href="/css/artists.css" />

    <title>Music Hub</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>

          <li class="user-section">
            {{#if session.isLoggedIn}}
              <span>Hej, {{session.un}}!</span>
              <a href="/logout">Logout</a>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </li>

        </ul>
      </nav>
    </header>

    {{{body}}}
  </body>
</html>