<div id="principal">

  <h1>Welcome to My Portfolio</h1>
  <div class="mytextcard">
    Im Adri, a web development student at Jönköping University.
    <br />
    This is my portfolio website where I showcase my projects and skills.
  </div>

</div>