<div class="principal">
  <h1>Login</h1>

  {{#if error}}
    <div class="error-box">
      <strong>Error:</strong>
      {{error}}
    </div>
  {{/if}}

  <form action="/login" method="post">
    <div class="form-row">
      <label for="username">Username:</label>
      <input type="text" id="username" name="un" required />
    </div>

    <div class="form-row">
      <label for="password">Password:</label>
      <input type="password" id="password" name="pw" required />
    </div>

    <input type="submit" value="Login" />
  </form>
</div>