<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My CV</title>
    <link rel="stylesheet" href="public\css\cv02.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<script src="cv_script.js"></script>
  </head>
  <body>
    <header>
    </header>
<div class="main">
<div class="aboutme">
    <img id="photoProfile" src="public\img\photo.jpg" alt="My Photo" />
    <h1>Adrienn Rátonyi</h1>
    <h2>Graphic Design and Web Development student</h2>
    <p>phone: 07 07 07 07 07</p>
    <p>email: raad23tt@student.ju.se</p>

    <div id="catimage2">
  <img src="public\img\cat2.jpg" alt="cat">
</div>

</div>
<div id="catimage">
  <img src="public\img\cat.JPG" alt="cat">
</div>



<div class="content">

        <div id="education">
        <h3 class="title">Education</h3>
        <ul>
        <li>2024 Jönköping University - Graphic Design and Web Development</li>
        <li>2019 - 2024 Kós Károly Vocational Art Highschool and Dormitory</li>
        </ul>
        </div>

    <div id="workexperience">
        <h3 class="title">Work Experience</h3>
        <ul>
        <li>2022 - 2024 Macrodata Refinment at Lumon Industries</li>
        <li>2025 Professional Unemployed Person at home</li>
        </ul>
    </div>

    <div id="skills">
        <h3 class="title">Computer Skills</h3>
        <ul>
        <li>I can turn on the computer</li>
        <li>I can look at my screen</li>
        <li>I can use my mouse</li>
        <li>I can type</li>
        <li>I can turn off the computer</li>
        </ul>
    </div>

    <div id="languages">
        <h3 class="title">Languages</h3>
        <ul>
        <li>Hungarian - Native</li>
        <li>English - Fluent </li>
        <li>Swedish - Beginner</li></ul>
    </div>

    <div id="hobbies">
        <h3 class="title">Hobbies</h3>
        <ul>
        <li>3D modeling</li>
        <li>Listening to music</li>
        <li>Drawing</li>
        <li>Cooking and baking</li>
    </div>

</div>
</div>

  </body>
</html>
