<div id="principal">
  <h1>Adri's Skills</h1>
  <div class="mytextcard">
    <ul>
      {{#each skills}}
        <li>
          {{name}}
          -
          {{stype}}
          -
          {{sdesc}}
        </li>
      {{/each}}
    </ul>
  </div>

</div>