body {
  background: linear-gradient(135deg, #3854f2, #d866f5);
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: white;
  margin: 0;
}

li,
p {
  font-family: "Open Sans", sans-serif;
  color: white;
}

#photoProfile {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#photoProfile:hover {
  transition: transform 1s ease;
  transform: rotateY(180deg) scale(1);
}

#catimage img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

#catimage2 img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.main {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.aboutme {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
}
#education,
#workexperience,
#skills,
#languages,
#hobbies {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 15px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 0;
}
.title {
  margin-bottom: 10px;
  margin-left: 10px;
}

h1 {
  margin: 20px;
}
